body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 30px;
  color: rgb(17, 1, 106);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 100px;
  line-height: 19px;
  opacity: 0.7;
  line-height: 30px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: rgb(229, 6, 129);
}

form {
  padding-bottom: 30px;
}

.current-info {
  color: rgb(229, 6, 129);
}

.weather-app-wrap {
  max-width: 100%;
}

.container {
  padding: 120px 50px 180px;
  max-width: 800px;
}

.weather-app {
  padding: 40px;
  border: 5px solid rgb(17, 1, 106);
  border-radius: 15px;
  background-color: rgb(253, 253, 223);
}

.weather-info {
  margin-top: 20px;
}

.weather-temperature img {
  margin-right: -8px;
  height: 155px;
  width: 155px;
  position: relative;
  margin-top: -37px;
}

.form-control,
.btn {
  height: 50px;
  font-size: 18px;
}

.btn {
  background: rgb(17, 1, 106);
  border-radius: 15px;
}

.btn-primary:hover {
  opacity: 0.7;
  background: rgb(17, 1, 106);
}

.col-6 {
  padding-left: 23px;
  padding-right: 0;
}

.weather-temperature strong {
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
  color: rgb(17, 1, 106);
}

.weather-temperature .units {
  font-size: 30px;
  margin-left: -4px;
  color: rgb(17, 1, 106);
}

.weather-forecast {
  margin: 20px auto;
  padding: 20px 20px;
  text-align: center;
  background-color: rgb(11, 0, 73);
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 15px;
  color: rgb(242, 249, 247);
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 16px;
  color: rgb(242, 249, 247);
}

.weather-forecast .col {
  padding: 0;
}
