body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.weather-app-wrap {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid;
  border-radius: 7px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
